node_modules

#Hardhat files
cache
artifacts
webclient/contracts/
webclient/src/contracts/

hardhatAccounts.json
*/deployments/localhost
webclient/contracts
TODO.md
node_modules
tmp/

#Hardhat files
cache
artifacts

devlog/*
LOG.md

uploads/
vm
.vagrant/
